$breakpoint: 768px;
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-blue: hsl(0, 6%, 24%);
$background-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$button-gradient: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));